Node-RED Flow/flows.json
[
    {
        "id": "e33fd96c.b1f498",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4719271e.f67278",
        "type": "debug",
        "z": "e33fd96c.b1f498",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "f09213bd.f0c9b",
        "type": "ui_text",
        "z": "e33fd96c.b1f498",
        "group": "d0a6c0ac.8980d",
        "order": 2,
        "width": 10,
        "height": 2,
        "name": "Query",
        "label": "User Input",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 240,
        "wires": [],
        "inputLabels": [
            "asd"
        ]
    },
    {
        "id": "6783034d.ab58ec",
        "type": "watson-conversation-v1",
        "z": "e33fd96c.b1f498",
        "name": "",
        "workspaceid": "7f61646e-240e-43be-9e45-53f8eeeb2038",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "service-endpoint": "",
        "timeout": "",
        "optout-learning": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "c4de52e9.4afa1",
                "2a9036a7.6e21da"
            ]
        ]
    },
    {
        "id": "3fac1262.28ad6e",
        "type": "ui_text",
        "z": "e33fd96c.b1f498",
        "group": "ff862856.2e9e98",
        "order": 1,
        "width": 15,
        "height": 13,
        "name": "Response",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1160,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4d26d94.bf4a9",
        "type": "debug",
        "z": "e33fd96c.b1f498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1170,
        "y": 360,
        "wires": []
    },
    {
        "id": "c4de52e9.4afa1",
        "type": "function",
        "z": "e33fd96c.b1f498",
        "name": "",
        "func": "msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1)\n{ \n    for(var i in msg.payload.context.webhook_result_1.results)\n    { \n        msg.payload.text=msg.payload.text+\"<br>\"+msg.payload.context.webhook_result_1.results[i].subtitle;\n        msg.payload.text=msg.payload.text+\"<br><br>\"+msg.payload.context.webhook_result_1.results[i].text+\"<br>\"; \n    } \n    msg.payload=msg.payload.text; \n    \n} \nelse \nmsg.payload = msg.payload.output.text[0];\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "a4d26d94.bf4a9",
                "3fac1262.28ad6e"
            ]
        ]
    },
    {
        "id": "7d69ebf8.9cafb4",
        "type": "ui_form",
        "z": "e33fd96c.b1f498",
        "name": "",
        "label": "",
        "group": "d0a6c0ac.8980d",
        "order": 4,
        "width": 10,
        "height": 2,
        "options": [
            {
                "label": "Enter your Query",
                "value": "query",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "query": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "4719271e.f67278",
                "2b6857ad.e2ef98"
            ]
        ]
    },
    {
        "id": "2b6857ad.e2ef98",
        "type": "function",
        "z": "e33fd96c.b1f498",
        "name": "",
        "func": "msg.payload = msg.payload.query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "6783034d.ab58ec",
                "f09213bd.f0c9b"
            ]
        ]
    },
    {
        "id": "2a9036a7.6e21da",
        "type": "debug",
        "z": "e33fd96c.b1f498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 990,
        "y": 480,
        "wires": []
    },
    {
        "id": "56cf0c53.866104",
        "type": "ui_button",
        "z": "e33fd96c.b1f498",
        "name": "",
        "group": "d0a6c0ac.8980d",
        "order": 1,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "cyan",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "a20966a1.6843c8"
            ]
        ]
    },
    {
        "id": "a20966a1.6843c8",
        "type": "switch",
        "z": "e33fd96c.b1f498",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "e1a2b793.b65918",
                "3185b04c.79b1"
            ]
        ]
    },
    {
        "id": "e1a2b793.b65918",
        "type": "function",
        "z": "e33fd96c.b1f498",
        "name": "",
        "func": "msg.payload = \"welcome\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "6783034d.ab58ec"
            ]
        ]
    },
    {
        "id": "7454fe98.2d066",
        "type": "inject",
        "z": "e33fd96c.b1f498",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.0",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "a20966a1.6843c8"
            ]
        ]
    },
    {
        "id": "3185b04c.79b1",
        "type": "function",
        "z": "e33fd96c.b1f498",
        "name": "",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "7d69ebf8.9cafb4",
                "f09213bd.f0c9b"
            ]
        ]
    },
    {
        "id": "d0a6c0ac.8980d",
        "type": "ui_group",
        "z": "",
        "name": "Chatbox",
        "tab": "5e75ce40.2a426",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "ff862856.2e9e98",
        "type": "ui_group",
        "z": "",
        "name": "Bot Response",
        "tab": "5e75ce40.2a426",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "5e75ce40.2a426",
        "type": "ui_tab",
        "z": "",
        "name": "Intelligent Customer Help Desk With Smart Document Understanding",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]